includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
    # Level from 0 to 9
    level: 2

#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
