parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Models\\Season\:\:name\(\) should return Illuminate\\Database\\Eloquent\\Casts\\Attribute\<string, never\> but returns Illuminate\\Database\\Eloquent\\Casts\\Attribute\<non\-falsy\-string, never\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Season.php
